// ==============================
// Post
// ==============================

.posts {
  margin-bottom: $post-list-margin-bottom;
}

.post {
  padding: $post-padding;
  background-color: $post-and-code; // 单个post的背景色 若不设置则与父元素背景色一致

  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
}
